// --------------------------
// Icons
// --------------------------

// Icon font face definition
// @include font-face($icon-font-name, $icon-font-url, 500, normal, woff2 woff ttf svg);

[data-icon]:before {
    font-family: $font-family-icon;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    speak: none;
}
.icon:before,
[class*="icon"]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: $font-family-icon;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    speak: none;
}

[class*="icon"]:hover, *:hover [class*="icon"] {
    text-decoration: none;
}

a > [class*="icon"] {
  margin-right: .6rem;
}