// --------------------------
// Modules
// --------------------------

// Social Listing
.list-social {
    margin: $spacer-md 0 $spacer-xl 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        list-style: none;
        display: inline-block;
        margin: 0 $spacer-base;

        @include breakpoint(md) {
            margin: 0 $spacer-xs;
        }

        a {
            @include border-radius(50%);
            @include simple-transition;
            display: block;
            width: 76px;
            height: 76px;
            border: solid 2px $theme-color-brand;
            font-size: $theme-fs-lg;
            line-height: 2.6;
            color: $theme-color-black;

            &:hover,
            &:focus {
                @include simple-transition;
                background-color: $theme-color-black;
                color: $theme-color-white;
                text-decoration: none;
            }

            @include breakpoint(sm) {
                width: 64px;
                height: 64px;
                font-size: $theme-fs-md;
            }

            @include breakpoint(xs) {
                width: 48px;
                height: 48px;
                font-size: $theme-fs-bs;
                line-height: 2.8;
            }
        }
    }
}


// Project Listing
.list-project {
    $thumb-height: 220px;

    & &__item {
        margin-bottom: $spacer-xl;
        
        .project {
            &__thumb {
                @include simple-transition;
                position: relative;
                display: block;
                height: $thumb-height;
                border: solid 3px $theme-color-grey-light-very;
                overflow: hidden;

                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    max-width: unset;
                    margin-bottom: 0;
                }

                &:hover,
                &:focus {
                    border-color: $theme-color-brand;
                }

                
            }
            &__title {
                margin-top: $spacer-base;
                font-family: $font-family-sans-serif;
                font-size: $theme-fs-lg;
                font-weight: $theme-fw-bold;
                color: $theme-color-black;
                letter-spacing: -0.02rem;

                a {
                    @include simple-transition;
                    color: $theme-color-black;

                    &:hover,
                    &:focus {
                        color: $theme-color-brand;
                        text-decoration: none;
                    }

                    &.project__title--media {
                        color: $theme-color-brand;
                        font-size: .8em;

                        &:hover,
                        &:focus {
                            color: $theme-color-grey;
                        }
                    }
                }

                @include breakpoint(sm) {
                    font-size: $theme-fs-bsl;
                }
            }

            &__desc {
                margin-bottom: $spacer-sm;
                font-family: $font-family-sans-serif;
                font-size: $theme-fs-bs;
                color: $theme-color-grey-light;
                font-weight: $theme-fw-bold;

                @include breakpoint(sm) {
                    font-weight: $theme-fw-normal;
                }
            }
        }
    }
}

// Tags
.tags {
    margin: $spacer-base 0;

    a {
        @include simple-transition;
        @include border-radius(6px);
        display: inline-block;
        margin: 0 $spacer-xs $spacer-xs 0;
        border: solid 2px rgba($theme-color-grey-light, 0.3);
        background-color: $theme-color-white;
        padding: $spacer-xs $spacer-sm $spacer-xs*1.2 $spacer-sm;
        color: $theme-color-brand;
        font-size: $theme-fs-sm;
        line-height: $theme-line-height-min;

        &:hover,
        &:focus {
            border-color: $theme-color-brand;
            background-color: $theme-color-brand;
            text-decoration: none;
            color: $theme-color-white;
            
        }

    }
}


// Page Header
.page-header {
    position: relative;

    @include breakpoint(xs) {
        padding-top: 240px;
    }

    .img-hero {
        position: absolute;
        top: -5%;
        right: 14%;
        height: 120%;
        margin: 0;

        @include breakpoint(lg) {
            height: 100%;
        }

        @include breakpoint(md) {
            right: 0;
            height: 130%;
            transform: translateX(10%);
        }

        @include breakpoint(sm) {
            top: auto;
            bottom: 0;
            transform: translateX(0);
            height: 60%;
        }

        @include breakpoint(xs) {
            top: 0;
            right: unset;
            bottom: unset;
            transform: translateX(0);
            height: 400px;
            width: auto;
        }
    }

    .hero-quote {
        position: absolute;
        right: 0;
        top: 54%;
        transform: translateY(-50%);
        text-align: right;
        

        &:before {
            @include opacity(.3);
            @extend .icon;
            @extend .icon-quote-left;
            position: relative;
            top: 24px;
            font-size: $theme-fs-5x;
            line-height: 0.5;
            margin-top: -40px;
        }

        &:after {
            @include opacity(.3);
            position: absolute;
            right: 0;
            content:"";
            display: block;
            height: 8px;
            width: 100px;
            background-color: $theme-color-grey;
            margin-top: $spacer-base;
        }

        em {
            display: block;
            font-weight: $theme-fw-bold;
            font-style: normal;
            font-size: 80px;
            color: $theme-color-brand;
            letter-spacing: -0.3rem;
            line-height: 1;

            &.emp--lg {
                font-size: 118px;
                letter-spacing: -0.4rem;
                margin-top: -46px;
            }
        }

        .midline {
            display: block;
            font-weight: $theme-fw-bold;
            font-size: $theme-fs-md;
            letter-spacing: -0.1rem;
            text-align: center;
        }

        // @include breakpoint(md) {
        //     top: 90%;
        //     transform: translateY(-120%);

        //     &:before {
        //         font-size: $theme-fs-xl;
        //         margin-top: -40px;
        //         top: 0;
        //     }

        //     &:after {
        //         height: 3px;
        //     }
            
        //     em, em.emp--lg, .midline {
        //         display: block;
        //         margin: 0;
        //         font-size: $theme-fs-xl;
        //         letter-spacing: 0;
        //         line-height: 1;
        //     }

        //     .midline {
        //         font-size: $theme-fs-md;
        //     }
        // }

        @include breakpoint(md) {
            position: relative;
            margin-bottom: $spacer-xl;
            text-align: left;
            transform: translateY(-50%);

            &:before {
                position: absolute;
                top: auto;
                margin-top: -20px;
                font-size: $theme-fs-lg;
            }

            &:after {
                left: 0;
                height: 2px;
                width: 40px;
            }

            em, em.emp--lg, .midline {
                display: inline-block;
                margin: 0;
                font-size: $theme-fs-lg;
                letter-spacing: 0;
                line-height: $theme-line-height-base;
                text-align: left;
            }
        }

        @include breakpoint(xs) {
            margin: 0 $spacer-xl $spacer-md $spacer-xl;

            em, em.emp--lg, .midline {
                display: block;
                line-height: $theme-line-height-small;
            }

        }
    }
}

// Section Header
.section-header {
    position: relative;
    z-index: 2;
    padding: $spacer-xxl 0;

    @include breakpoint(md) {
        padding: $spacer-xxl 0 $spacer-lg 0;
    }

    @include breakpoint(sm) {
        padding: $spacer-xxl 0 $spacer-lg 0;
    }

    @include breakpoint(xsmax) {
        padding: $spacer-xxl 0 $spacer-xl 0;
    }

    @include breakpoint(xs) {
        padding: $spacer-xxl $spacer-xl;
    }

    .section-title {
        font-size: $theme-fs-6x;

        @include breakpoint(md) {
            margin-bottom: $spacer-lg;
            font-size: $theme-fs-xxxl;
        }

        @include breakpoint(xsmax) {
            font-size: $theme-fs-xxl;
        }

        @include breakpoint(xxs) {
            font-size: $theme-fs-xl;
        }
    }

    .section-desc {
        @extend .text-lead;
        width: 40%;

        @include breakpoint(md) {
            font-size: $theme-fs-bsl;
            width: 50%;
            line-height: $theme-line-height-base;
        }

        @include breakpoint(xs) {
            width: 100%;
            font-size: $theme-fs-bs;
        }
    }
}



// Section Featured
.section-featured {
    padding: $spacer-xxl $spacer-xxl;
    background-color: $theme-color-black;
    color: $theme-color-white;

    &#{&}--primary {
        background-color: $theme-color-black;
    }
    &#{&}--secondary {
        background-color: $theme-color-brand;
    }

    .section-title {
        color: $theme-color-white;
        text-align: left;
    }

    .section-desc {
        @include opacity(.7);
        font-size: $theme-fs-bsl;
    }
}

.section-projects {
    @extend %clearfix;
}