// --------------------------
// Typography
// --------------------------
@import 'theme/mixins';

// Base font face definition

@include font-face($base-font-regular-name, $base-font-regular-url, 500, normal, woff2 woff ttf svg);
@include font-face($base-font-regular-name, $base-font-italic-url, 500, italic, woff2 woff ttf svg);
@include font-face($base-font-regular-name, $base-font-bold-url, 700, normal, woff2 woff ttf svg);
@include font-face($base-font-regular-name, $base-font-bold-italic-url, 700, italic, woff2 woff ttf svg);

// Paragraph
p {	
	margin-bottom: $spacer-lg;
	font-weight: $theme-fw-normal;
	font-size: $theme-fs-bs;
}

// Small
small {
	font-size: $theme-fs-sm;
}

// Section Title
.section-title {
	margin: 0 0 $spacer-lg 0;
	font-size: $theme-fs-xxl;
	font-weight: $theme-fw-bold;
	color: $theme-color-black;
	line-height: $theme-line-height-min;
	letter-spacing: -0.1rem;
	text-align: center;

	@include breakpoint(md) {
		font-size: $theme-fs-xl;
	}

	small {
		display: block;
		font-family: $font-family-serif;
		font-size: $theme-fs-lg;
		font-weight: $theme-fw-normal;
		color: $theme-color-brand;
	}

	strong {
		display: block;
		font-weight: $theme-fw-bold;
		color: $theme-color-brand;
	}

	&--underlined {
		position: relative;
		margin-bottom: $spacer-xxl;
		padding-bottom: $spacer-md;
		font-size: $theme-fs-xxxl;

		@include breakpoint(md) {
			font-size: $theme-fs-xxl;
		}

		@include breakpoint(sm) {
			margin-bottom: $spacer-md;
			font-size: $theme-fs-xl;
		}

		

		&:before {
			@extend .icon;
			@extend .icon-ellipsis;
			position: absolute;
			bottom: 4px;
			line-height: 0 !important;
			color: $theme-color-brand;
			font-size: $theme-fs-xl;
			left: 50%;
			transform: translateX(-160%);

			@include breakpoint(sm) {
				font-size: $theme-fs-lg;
			}
		}
	
		&::after {
			@include border-radius(8px);
			content: "";
			position: absolute;
			width: 100px;
			height: 8px;
			left: 50%;
			bottom: 0;
			transform: translateX(-10%);
			background-color: $theme-color-brand;

			@include breakpoint(sm) {
				height: 5px;
				width: 60px;
				bottom: 2px;
				transform: translateX(-20%);
			}
		}

		&.text-left {
			&::before {
				left: 0;
				margin-left: 0;
				transform: translateX(0);
			}

			&::after {
				left: 0;
				margin-left: 40px;
				transform: translateX(0);

				@include breakpoint(sm) {
					margin-left: 30px;
				}
			}
		}
	}

	&--green {
		color: $theme-color-brand;
	}
}

// Lead Text
.text-lead {
	@extend %clearfix;
	margin-bottom: $spacer-xl;
	font-size: $theme-fs-md;
	color: $theme-color-grey;
}