// --------------------------
// Typography
// --------------------------
@import 'theme/mixins';

// Base font face definition

@include font-face($base-font-regular-name, $base-font-regular-url, 500, normal, woff2 woff ttf svg);
@include font-face($base-font-regular-name, $base-font-italic-url, 500, italic, woff2 woff ttf svg);
@include font-face($base-font-regular-name, $base-font-bold-url, 700, normal, woff2 woff ttf svg);
@include font-face($base-font-regular-name, $base-font-bold-italic-url, 700, italic, woff2 woff ttf svg);

// @include font-face(
// 	$base-font-regular-name,
// 	$base-font-regular-url,
// 	("ttf", "svg", "woff", "woff2")
// );
// @include font-face(
// 	$base-font-regular-name,
// 	$base-font-italic-url,
// 	("ttf", "svg", "woff", "woff2"))
// 	{
// 		font-weight: normal;
// 		font-style: italic;
// 	}
// @include font-face(
// 	$base-font-regular-name,
// 	$base-font-bold-url,
// 	("ttf", "svg", "woff", "woff2"))
// 	{
// 		font-weight: bold;
// 	}
// @include font-face(
// 	$base-font-regular-name,
// 	$base-font-bold-italic-url,
// 	("ttf", "svg", "woff", "woff2"))
// 	{
// 		font-style: italic;
// 		font-weight: bold;
// 	}
// @include font-face(
// 	$base-font-serif-name,
// 	$base-font-serif-regular-url,
// 	("ttf", "svg", "woff", "woff2"));

// Headings
// h1,h2,h3,h4,h5,h6 { 
// 	font-weight: $theme-fw-normal; 
// 	font-size: $theme-fs-lg; 
// 	clear: both;
// 	color: $theme-color-black;
// }

// .heading-1 {
// 	font-size: $theme-fs-bs * 2;
// }

// .heading-2 { 
// 	font-family: $font-family-secondary;
// 	font-size: $theme-fs-bs * 1.8;
// 	margin-bottom: $theme-fs-bs * 1.6;
// }

// .heading-3 { 
// 	font-family: $font-family-base;
// 	font-size: $theme-fs-bs * 1.2; 
// 	font-weight: $theme-fw-bold;
// 	color: $theme-color-white;
// }

// .heading-4 {
// 	font-size: $theme-fs-bs * 1.4;
// }

// .heading-5 {
// 	font-size: $theme-fs-bs * 1.2;
// }

// .heading-6 { 
// 	font-size: $theme-fs-bs;
// }


// Paragraph
p {	
	margin-bottom: $spacer-lg;
	font-weight: $theme-fw-normal;
	font-size: $theme-fs-bs;
}

// Small
small {
	font-size: $theme-fs-sm;
}

// Section Title
.section-title {
	position: relative;
	margin-top: $spacer-xl;
	margin-bottom: $spacer-xxl;
	padding-bottom: $spacer-md;
	font-size: $theme-fs-xxxl;
	font-weight: $theme-fw-bold;
	color: $theme-color-black;
	line-height: $theme-line-height-min;
	letter-spacing: -0.1rem;
	text-align: center;

	small {
		display: block;
		font-family: $font-family-serif;
		font-size: $theme-fs-lg;
		font-weight: $theme-fw-normal;
		color: $theme-color-brand;
	}

	&::before {
		@include border-radius(50%);
		content: "";
		position: absolute;
		width: 8px;
		height: 8px;
		left: 50%;
		bottom: 0;
		margin-left: -10px;
		transform: translateX(-50%);
		background-color: $theme-color-brand;
	}

	&::after {
		content: "";
		position: absolute;
		width: 100px;
		height: 8px;
		left: 50%;
		bottom: 0;
		margin-left: 50px;
		transform: translateX(-50%);
		background-color: $theme-color-brand;
	}

	&--green {
		color: $theme-color-brand;
	}
}